nav, #viewHighscore {
    color: purple !important;
}

button {
    background-color: purple !important;
    color: white !important;
}

#homeLink {
    color: white !important;
}

button:hover {
    background-color: rebeccapurple !important;
    border: 2px solid purple;
}

section {
    width: 500px;
}

input:focus {
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

li {
    background-color: lightslategray;
}