nav {
    color: purple;
}

button {
    background-color: purple !important;
    color: white !important;
}

button:hover {
    background-color: rebeccapurple !important;
    border: 2px solid purple;
}

section {
    width: 500px;
}